ex3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="ex3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> akshata </xs:fname>
	<xs:lname> shadakshari </xs:lname>
	<xs:mname> s </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 003 </xs:houseno>
	<xs:streetname> kumta </xs:streetname>
	<xs:cityname> Uttara kannada </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 95 </xs:marks>
   <xs:hobbies> Drawing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Sarita </xs:fname>
	<xs:lname> shekar</xs:lname>
	<xs:mname> k </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 004 </xs:houseno>
	<xs:streetname> harita </xs:streetname>
	<xs:cityname> kumta </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 85 </xs:marks>
   <xs:hobbies> Singing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>